site:
  title: Lumidora Docs
  start_page: lumidora:ROOT:index.adoc
content:
  sources:
    - url: https://github.com/koshisinthehouse/Lumidora.git
      branches: HEAD
      start_path: docs
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files:
    - path: partials/header-content.hbs
      contents: ./supplemental-ui/partials/header-content.hbs
    - path: ui.yml
      contents: |
        static_files:
        - .nojekyll
    - path: .nojekyll
asciidoc:
  extensions:
    - asciidoctor-kroki
antora:
  extensions:
    - '@antora/pdf-extension'